html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  flex-direction: row;
}

/* CONTENT */

#content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

/* game canvas with game */
#game {
  object-fit: contain;
}

/* ------------------- DISPLAYS -------------------- */
#displayWrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* display wrapper for left intensity, video and right intensity */
#leftDisplay {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

#middleDisplay {
  flex: 5 5 auto;
  display: flex;
  flex-direction: column;
}

#rightDisplay {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

/* displays how strong input to move left is */
#leftIntensity {
  width: 100%;
  height: 0%;
  align-self: flex-end;
}

/* video stream of camera */
#video {
  width: auto;
  height: 100%;
  object-fit: contain;
}

/* displays how strong input to move right is */
#rightIntensity {
  width: 100%;
  height: 0%;
  align-self: flex-end;
}

/* order game and camera below each other on mobile devices */
@media (max-width: 980px) {
  body {
    flex-direction: column;
  }
}

/* Mirror videoCanvas */
#video {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}